extends layout.pug

block content
  h1.mt-5= book.title
    
  a.btn.btn-primary(href='/books/' + book.id + '/update' ) Update
    
  form(action='/books/' + book.id + '/delete' method="POST") 
    button.btn.btn-danger(type='submit') Delete 

  h6.mt-5= "Book of " + book.title + " by " + book.author+" having " +book.numPages+" Pages"
